<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.product.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.product.entity.Brand">
        <id column="brand_id" property="brandId" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="descript" property="descript" />
        <result column="show_status" property="showStatus" />
        <result column="first_letter" property="firstLetter" />
        <result column="sort" property="sort" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            pms_brand
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.name != null">
                and name = #{dto.name}
            </if>
            <if test="dto.logo != null">
                and logo = #{dto.logo}
            </if>
            <if test="dto.descript != null">
                and descript = #{dto.descript}
            </if>
            <if test="dto.showStatus != null">
                and show_status = #{dto.showStatus}
            </if>
            <if test="dto.firstLetter != null">
                and first_letter = #{dto.firstLetter}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from pms_brand
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.name != null">
                and name = #{dto.name}
            </if>
            <if test="dto.logo != null">
                and logo = #{dto.logo}
            </if>
            <if test="dto.descript != null">
                and descript = #{dto.descript}
            </if>
            <if test="dto.showStatus != null">
                and show_status = #{dto.showStatus}
            </if>
            <if test="dto.firstLetter != null">
                and first_letter = #{dto.firstLetter}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from pms_brand
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.name != null">
                and name = #{dto.name}
            </if>
            <if test="dto.logo != null">
                and logo = #{dto.logo}
            </if>
            <if test="dto.descript != null">
                and descript = #{dto.descript}
            </if>
            <if test="dto.showStatus != null">
                and show_status = #{dto.showStatus}
            </if>
            <if test="dto.firstLetter != null">
                and first_letter = #{dto.firstLetter}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from pms_brand
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.name != null">
                and name = #{dto.name}
            </if>
            <if test="dto.logo != null">
                and logo = #{dto.logo}
            </if>
            <if test="dto.descript != null">
                and descript = #{dto.descript}
            </if>
            <if test="dto.showStatus != null">
                and show_status = #{dto.showStatus}
            </if>
            <if test="dto.firstLetter != null">
                and first_letter = #{dto.firstLetter}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
        </where>
    </select>

</mapper>
