<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.product.mapper.CategoryBrandRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.product.entity.CategoryBrandRelation">
    <result column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="catelog_id" property="catelogId" />
        <result column="brand_name" property="brandName" />
        <result column="catelog_name" property="catelogName" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            pms_category_brand_relation
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.catelogId != null">
                and catelog_id = #{dto.catelogId}
            </if>
            <if test="dto.brandName != null">
                and brand_name = #{dto.brandName}
            </if>
            <if test="dto.catelogName != null">
                and catelog_name = #{dto.catelogName}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from pms_category_brand_relation
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.catelogId != null">
                and catelog_id = #{dto.catelogId}
            </if>
            <if test="dto.brandName != null">
                and brand_name = #{dto.brandName}
            </if>
            <if test="dto.catelogName != null">
                and catelog_name = #{dto.catelogName}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from pms_category_brand_relation
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.catelogId != null">
                and catelog_id = #{dto.catelogId}
            </if>
            <if test="dto.brandName != null">
                and brand_name = #{dto.brandName}
            </if>
            <if test="dto.catelogName != null">
                and catelog_name = #{dto.catelogName}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from pms_category_brand_relation
        <where>
            <if test="dto.brandId != null">
                brand_id = #{dto.brandId}
            </if>
            <if test="dto.catelogId != null">
                and catelog_id = #{dto.catelogId}
            </if>
            <if test="dto.brandName != null">
                and brand_name = #{dto.brandName}
            </if>
            <if test="dto.catelogName != null">
                and catelog_name = #{dto.catelogName}
            </if>
        </where>
    </select>

    <update id="updateCategory">
        UPDATE `pms_category_brand_relation` SET catelog_name=#{name} WHERE catelog_id=#{catId}
    </update>

</mapper>
