<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.product.mapper.PmsSpuImagesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.product.entity.PmsSpuImages">
    <result column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="img_name" property="imgName" />
        <result column="img_url" property="imgUrl" />
        <result column="img_sort" property="imgSort" />
        <result column="default_img" property="defaultImg" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            pms_spu_images
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.imgName != null">
                and img_name = #{dto.imgName}
            </if>
            <if test="dto.imgUrl != null">
                and img_url = #{dto.imgUrl}
            </if>
            <if test="dto.imgSort != null">
                and img_sort = #{dto.imgSort}
            </if>
            <if test="dto.defaultImg != null">
                and default_img = #{dto.defaultImg}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from pms_spu_images
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.imgName != null">
                and img_name = #{dto.imgName}
            </if>
            <if test="dto.imgUrl != null">
                and img_url = #{dto.imgUrl}
            </if>
            <if test="dto.imgSort != null">
                and img_sort = #{dto.imgSort}
            </if>
            <if test="dto.defaultImg != null">
                and default_img = #{dto.defaultImg}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from pms_spu_images
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.imgName != null">
                and img_name = #{dto.imgName}
            </if>
            <if test="dto.imgUrl != null">
                and img_url = #{dto.imgUrl}
            </if>
            <if test="dto.imgSort != null">
                and img_sort = #{dto.imgSort}
            </if>
            <if test="dto.defaultImg != null">
                and default_img = #{dto.defaultImg}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from pms_spu_images
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.imgName != null">
                and img_name = #{dto.imgName}
            </if>
            <if test="dto.imgUrl != null">
                and img_url = #{dto.imgUrl}
            </if>
            <if test="dto.imgSort != null">
                and img_sort = #{dto.imgSort}
            </if>
            <if test="dto.defaultImg != null">
                and default_img = #{dto.defaultImg}
            </if>
        </where>
    </select>

</mapper>
