<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.coupon.mapper.HomeAdvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.coupon.entity.HomeAdv">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pic" property="pic" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="click_count" property="clickCount" />
        <result column="url" property="url" />
        <result column="note" property="note" />
        <result column="sort" property="sort" />
        <result column="publisher_id" property="publisherId" />
        <result column="auth_id" property="authId" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            sms_home_adv
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.pic != null">
                and pic = #{dto.pic}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.clickCount != null">
                and click_count = #{dto.clickCount}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.publisherId != null">
                and publisher_id = #{dto.publisherId}
            </if>
            <if test="dto.authId != null">
                and auth_id = #{dto.authId}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from sms_home_adv
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.pic != null">
                and pic = #{dto.pic}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.clickCount != null">
                and click_count = #{dto.clickCount}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.publisherId != null">
                and publisher_id = #{dto.publisherId}
            </if>
            <if test="dto.authId != null">
                and auth_id = #{dto.authId}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from sms_home_adv
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.pic != null">
                and pic = #{dto.pic}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.clickCount != null">
                and click_count = #{dto.clickCount}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.publisherId != null">
                and publisher_id = #{dto.publisherId}
            </if>
            <if test="dto.authId != null">
                and auth_id = #{dto.authId}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from sms_home_adv
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.pic != null">
                and pic = #{dto.pic}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.clickCount != null">
                and click_count = #{dto.clickCount}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.publisherId != null">
                and publisher_id = #{dto.publisherId}
            </if>
            <if test="dto.authId != null">
                and auth_id = #{dto.authId}
            </if>
        </where>
    </select>

</mapper>
