<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.coupon.mapper.SmsCouponHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.coupon.entity.SmsCouponHistory">
    <result column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="member_id" property="memberId" />
        <result column="member_nick_name" property="memberNickName" />
        <result column="get_type" property="getType" />
        <result column="create_time" property="createTime" />
        <result column="use_type" property="useType" />
        <result column="use_time" property="useTime" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            sms_coupon_history
        <where>
            <if test="dto.couponId != null">
                coupon_id = #{dto.couponId}
            </if>
            <if test="dto.memberId != null">
                and member_id = #{dto.memberId}
            </if>
            <if test="dto.memberNickName != null">
                and member_nick_name = #{dto.memberNickName}
            </if>
            <if test="dto.getType != null">
                and get_type = #{dto.getType}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.useType != null">
                and use_type = #{dto.useType}
            </if>
            <if test="dto.useTime != null">
                and use_time = #{dto.useTime}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.orderSn != null">
                and order_sn = #{dto.orderSn}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from sms_coupon_history
        <where>
            <if test="dto.couponId != null">
                coupon_id = #{dto.couponId}
            </if>
            <if test="dto.memberId != null">
                and member_id = #{dto.memberId}
            </if>
            <if test="dto.memberNickName != null">
                and member_nick_name = #{dto.memberNickName}
            </if>
            <if test="dto.getType != null">
                and get_type = #{dto.getType}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.useType != null">
                and use_type = #{dto.useType}
            </if>
            <if test="dto.useTime != null">
                and use_time = #{dto.useTime}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.orderSn != null">
                and order_sn = #{dto.orderSn}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from sms_coupon_history
        <where>
            <if test="dto.couponId != null">
                coupon_id = #{dto.couponId}
            </if>
            <if test="dto.memberId != null">
                and member_id = #{dto.memberId}
            </if>
            <if test="dto.memberNickName != null">
                and member_nick_name = #{dto.memberNickName}
            </if>
            <if test="dto.getType != null">
                and get_type = #{dto.getType}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.useType != null">
                and use_type = #{dto.useType}
            </if>
            <if test="dto.useTime != null">
                and use_time = #{dto.useTime}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.orderSn != null">
                and order_sn = #{dto.orderSn}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from sms_coupon_history
        <where>
            <if test="dto.couponId != null">
                coupon_id = #{dto.couponId}
            </if>
            <if test="dto.memberId != null">
                and member_id = #{dto.memberId}
            </if>
            <if test="dto.memberNickName != null">
                and member_nick_name = #{dto.memberNickName}
            </if>
            <if test="dto.getType != null">
                and get_type = #{dto.getType}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.useType != null">
                and use_type = #{dto.useType}
            </if>
            <if test="dto.useTime != null">
                and use_time = #{dto.useTime}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.orderSn != null">
                and order_sn = #{dto.orderSn}
            </if>
        </where>
    </select>

</mapper>
