<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.coupon.mapper.SmsHomeSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.coupon.entity.SmsHomeSubject">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="sub_title" property="subTitle" />
        <result column="status" property="status" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="img" property="img" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            sms_home_subject
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.title != null">
                and title = #{dto.title}
            </if>
            <if test="dto.subTitle != null">
                and sub_title = #{dto.subTitle}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.img != null">
                and img = #{dto.img}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from sms_home_subject
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.title != null">
                and title = #{dto.title}
            </if>
            <if test="dto.subTitle != null">
                and sub_title = #{dto.subTitle}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.img != null">
                and img = #{dto.img}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from sms_home_subject
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.title != null">
                and title = #{dto.title}
            </if>
            <if test="dto.subTitle != null">
                and sub_title = #{dto.subTitle}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.img != null">
                and img = #{dto.img}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from sms_home_subject
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.title != null">
                and title = #{dto.title}
            </if>
            <if test="dto.subTitle != null">
                and sub_title = #{dto.subTitle}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.url != null">
                and url = #{dto.url}
            </if>
            <if test="dto.sort != null">
                and sort = #{dto.sort}
            </if>
            <if test="dto.img != null">
                and img = #{dto.img}
            </if>
        </where>
    </select>

</mapper>
