<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.coupon.mapper.SmsSeckillPromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.coupon.entity.SmsSeckillPromotion">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            sms_seckill_promotion
        <where>
            <if test="dto.title != null">
                title = #{dto.title}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from sms_seckill_promotion
        <where>
            <if test="dto.title != null">
                title = #{dto.title}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from sms_seckill_promotion
        <where>
            <if test="dto.title != null">
                title = #{dto.title}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from sms_seckill_promotion
        <where>
            <if test="dto.title != null">
                title = #{dto.title}
            </if>
            <if test="dto.startTime != null">
                and start_time = #{dto.startTime}
            </if>
            <if test="dto.endTime != null">
                and end_time = #{dto.endTime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
        </where>
    </select>

</mapper>
