<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.coupon.mapper.SpuBoundsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.coupon.entity.SpuBounds">
    <result column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="grow_bounds" property="growBounds" />
        <result column="buy_bounds" property="buyBounds" />
        <result column="work" property="work" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            sms_spu_bounds
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.growBounds != null">
                and grow_bounds = #{dto.growBounds}
            </if>
            <if test="dto.buyBounds != null">
                and buy_bounds = #{dto.buyBounds}
            </if>
            <if test="dto.work != null">
                and work = #{dto.work}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from sms_spu_bounds
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.growBounds != null">
                and grow_bounds = #{dto.growBounds}
            </if>
            <if test="dto.buyBounds != null">
                and buy_bounds = #{dto.buyBounds}
            </if>
            <if test="dto.work != null">
                and work = #{dto.work}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from sms_spu_bounds
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.growBounds != null">
                and grow_bounds = #{dto.growBounds}
            </if>
            <if test="dto.buyBounds != null">
                and buy_bounds = #{dto.buyBounds}
            </if>
            <if test="dto.work != null">
                and work = #{dto.work}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from sms_spu_bounds
        <where>
            <if test="dto.spuId != null">
                spu_id = #{dto.spuId}
            </if>
            <if test="dto.growBounds != null">
                and grow_bounds = #{dto.growBounds}
            </if>
            <if test="dto.buyBounds != null">
                and buy_bounds = #{dto.buyBounds}
            </if>
            <if test="dto.work != null">
                and work = #{dto.work}
            </if>
        </where>
    </select>

</mapper>
