<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.message.mapper.RpTransactionMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.message.entity.RpTransactionMessage">
    <result column="id" property="id" />
        <result column="version" property="version" />
        <result column="editor" property="editor" />
        <result column="creater" property="creater" />
        <result column="edit_time" property="editTime" />
        <result column="create_time" property="createTime" />
        <result column="message_id" property="messageId" />
        <result column="message_body" property="messageBody" />
        <result column="message_data_type" property="messageDataType" />
        <result column="consumer_queue" property="consumerQueue" />
        <result column="message_send_times" property="messageSendTimes" />
        <result column="areadly_dead" property="areadlyDead" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="field1" property="field1" />
        <result column="field2" property="field2" />
        <result column="field3" property="field3" />
        <result column="url" property="url" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            rp_transaction_message
        <where>
            <if test="dto.version != null">
                version = #{dto.version}
            </if>
            <if test="dto.editor != null">
                and editor = #{dto.editor}
            </if>
            <if test="dto.creater != null">
                and creater = #{dto.creater}
            </if>
            <if test="dto.editTime != null">
                and edit_time = #{dto.editTime}
            </if>
            <if test="dto.createTime != null">
                and create_time <![CDATA[ <= ]] #{dto.createTime}
            </if>
            <if test="dto.messageId != null">
                and message_id = #{dto.messageId}
            </if>
            <if test="dto.messageBody != null">
                and message_body = #{dto.messageBody}
            </if>
            <if test="dto.messageDataType != null">
                and message_data_type = #{dto.messageDataType}
            </if>
            <if test="dto.consumerQueue != null">
                and consumer_queue = #{dto.consumerQueue}
            </if>
            <if test="dto.messageSendTimes != null">
                and message_send_times = #{dto.messageSendTimes}
            </if>
            <if test="dto.areadlyDead != null">
                and areadly_dead = #{dto.areadlyDead}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.remark != null">
                and remark = #{dto.remark}
            </if>
            <if test="dto.field1 != null">
                and field1 = #{dto.field1}
            </if>
            <if test="dto.field2 != null">
                and field2 = #{dto.field2}
            </if>
            <if test="dto.field3 != null">
                and field3 = #{dto.field3}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from rp_transaction_message
        <where>
            <if test="dto.version != null">
                version = #{dto.version}
            </if>
            <if test="dto.editor != null">
                and editor = #{dto.editor}
            </if>
            <if test="dto.creater != null">
                and creater = #{dto.creater}
            </if>
            <if test="dto.editTime != null">
                and edit_time = #{dto.editTime}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.messageId != null">
                and message_id = #{dto.messageId}
            </if>
            <if test="dto.messageBody != null">
                and message_body = #{dto.messageBody}
            </if>
            <if test="dto.messageDataType != null">
                and message_data_type = #{dto.messageDataType}
            </if>
            <if test="dto.consumerQueue != null">
                and consumer_queue = #{dto.consumerQueue}
            </if>
            <if test="dto.messageSendTimes != null">
                and message_send_times = #{dto.messageSendTimes}
            </if>
            <if test="dto.areadlyDead != null">
                and areadly_dead = #{dto.areadlyDead}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.remark != null">
                and remark = #{dto.remark}
            </if>
            <if test="dto.field1 != null">
                and field1 = #{dto.field1}
            </if>
            <if test="dto.field2 != null">
                and field2 = #{dto.field2}
            </if>
            <if test="dto.field3 != null">
                and field3 = #{dto.field3}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from rp_transaction_message
        <where>
            <if test="dto.version != null">
                version = #{dto.version}
            </if>
            <if test="dto.editor != null">
                and editor = #{dto.editor}
            </if>
            <if test="dto.creater != null">
                and creater = #{dto.creater}
            </if>
            <if test="dto.editTime != null">
                and edit_time = #{dto.editTime}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.messageId != null">
                and message_id = #{dto.messageId}
            </if>
            <if test="dto.messageBody != null">
                and message_body = #{dto.messageBody}
            </if>
            <if test="dto.messageDataType != null">
                and message_data_type = #{dto.messageDataType}
            </if>
            <if test="dto.consumerQueue != null">
                and consumer_queue = #{dto.consumerQueue}
            </if>
            <if test="dto.messageSendTimes != null">
                and message_send_times = #{dto.messageSendTimes}
            </if>
            <if test="dto.areadlyDead != null">
                and areadly_dead = #{dto.areadlyDead}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.remark != null">
                and remark = #{dto.remark}
            </if>
            <if test="dto.field1 != null">
                and field1 = #{dto.field1}
            </if>
            <if test="dto.field2 != null">
                and field2 = #{dto.field2}
            </if>
            <if test="dto.field3 != null">
                and field3 = #{dto.field3}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from rp_transaction_message
        <where>
            <if test="dto.version != null">
                version = #{dto.version}
            </if>
            <if test="dto.editor != null">
                and editor = #{dto.editor}
            </if>
            <if test="dto.creater != null">
                and creater = #{dto.creater}
            </if>
            <if test="dto.editTime != null">
                and edit_time = #{dto.editTime}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.messageId != null">
                and message_id = #{dto.messageId}
            </if>
            <if test="dto.messageBody != null">
                and message_body = #{dto.messageBody}
            </if>
            <if test="dto.messageDataType != null">
                and message_data_type = #{dto.messageDataType}
            </if>
            <if test="dto.consumerQueue != null">
                and consumer_queue = #{dto.consumerQueue}
            </if>
            <if test="dto.messageSendTimes != null">
                and message_send_times = #{dto.messageSendTimes}
            </if>
            <if test="dto.areadlyDead != null">
                and areadly_dead = #{dto.areadlyDead}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.remark != null">
                and remark = #{dto.remark}
            </if>
            <if test="dto.field1 != null">
                and field1 = #{dto.field1}
            </if>
            <if test="dto.field2 != null">
                and field2 = #{dto.field2}
            </if>
            <if test="dto.field3 != null">
                and field3 = #{dto.field3}
            </if>
        </where>
    </select>

</mapper>
