<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.member.mapper.MemberLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.member.entity.MemberLevel">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="growth_point" property="growthPoint" />
        <result column="default_status" property="defaultStatus" />
        <result column="free_freight_point" property="freeFreightPoint" />
        <result column="comment_growth_point" property="commentGrowthPoint" />
        <result column="priviledge_free_freight" property="priviledgeFreeFreight" />
        <result column="priviledge_member_price" property="priviledgeMemberPrice" />
        <result column="priviledge_birthday" property="priviledgeBirthday" />
        <result column="note" property="note" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            ums_member_level
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.growthPoint != null">
                and growth_point = #{dto.growthPoint}
            </if>
            <if test="dto.defaultStatus != null">
                and default_status = #{dto.defaultStatus}
            </if>
            <if test="dto.freeFreightPoint != null">
                and free_freight_point = #{dto.freeFreightPoint}
            </if>
            <if test="dto.commentGrowthPoint != null">
                and comment_growth_point = #{dto.commentGrowthPoint}
            </if>
            <if test="dto.priviledgeFreeFreight != null">
                and priviledge_free_freight = #{dto.priviledgeFreeFreight}
            </if>
            <if test="dto.priviledgeMemberPrice != null">
                and priviledge_member_price = #{dto.priviledgeMemberPrice}
            </if>
            <if test="dto.priviledgeBirthday != null">
                and priviledge_birthday = #{dto.priviledgeBirthday}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from ums_member_level
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.growthPoint != null">
                and growth_point = #{dto.growthPoint}
            </if>
            <if test="dto.defaultStatus != null">
                and default_status = #{dto.defaultStatus}
            </if>
            <if test="dto.freeFreightPoint != null">
                and free_freight_point = #{dto.freeFreightPoint}
            </if>
            <if test="dto.commentGrowthPoint != null">
                and comment_growth_point = #{dto.commentGrowthPoint}
            </if>
            <if test="dto.priviledgeFreeFreight != null">
                and priviledge_free_freight = #{dto.priviledgeFreeFreight}
            </if>
            <if test="dto.priviledgeMemberPrice != null">
                and priviledge_member_price = #{dto.priviledgeMemberPrice}
            </if>
            <if test="dto.priviledgeBirthday != null">
                and priviledge_birthday = #{dto.priviledgeBirthday}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from ums_member_level
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.growthPoint != null">
                and growth_point = #{dto.growthPoint}
            </if>
            <if test="dto.defaultStatus != null">
                and default_status = #{dto.defaultStatus}
            </if>
            <if test="dto.freeFreightPoint != null">
                and free_freight_point = #{dto.freeFreightPoint}
            </if>
            <if test="dto.commentGrowthPoint != null">
                and comment_growth_point = #{dto.commentGrowthPoint}
            </if>
            <if test="dto.priviledgeFreeFreight != null">
                and priviledge_free_freight = #{dto.priviledgeFreeFreight}
            </if>
            <if test="dto.priviledgeMemberPrice != null">
                and priviledge_member_price = #{dto.priviledgeMemberPrice}
            </if>
            <if test="dto.priviledgeBirthday != null">
                and priviledge_birthday = #{dto.priviledgeBirthday}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from ums_member_level
        <where>
            <if test="dto.name != null">
                name = #{dto.name}
            </if>
            <if test="dto.growthPoint != null">
                and growth_point = #{dto.growthPoint}
            </if>
            <if test="dto.defaultStatus != null">
                and default_status = #{dto.defaultStatus}
            </if>
            <if test="dto.freeFreightPoint != null">
                and free_freight_point = #{dto.freeFreightPoint}
            </if>
            <if test="dto.commentGrowthPoint != null">
                and comment_growth_point = #{dto.commentGrowthPoint}
            </if>
            <if test="dto.priviledgeFreeFreight != null">
                and priviledge_free_freight = #{dto.priviledgeFreeFreight}
            </if>
            <if test="dto.priviledgeMemberPrice != null">
                and priviledge_member_price = #{dto.priviledgeMemberPrice}
            </if>
            <if test="dto.priviledgeBirthday != null">
                and priviledge_birthday = #{dto.priviledgeBirthday}
            </if>
            <if test="dto.note != null">
                and note = #{dto.note}
            </if>
        </where>
    </select>

</mapper>
