<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.member.mapper.UmsMemberCollectSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.member.entity.UmsMemberCollectSubject">
    <result column="id" property="id" />
        <result column="subject_id" property="subjectId" />
        <result column="subject_name" property="subjectName" />
        <result column="subject_img" property="subjectImg" />
        <result column="subject_urll" property="subjectUrll" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            ums_member_collect_subject
        <where>
            <if test="dto.subjectId != null">
                subject_id = #{dto.subjectId}
            </if>
            <if test="dto.subjectName != null">
                and subject_name = #{dto.subjectName}
            </if>
            <if test="dto.subjectImg != null">
                and subject_img = #{dto.subjectImg}
            </if>
            <if test="dto.subjectUrll != null">
                and subject_urll = #{dto.subjectUrll}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from ums_member_collect_subject
        <where>
            <if test="dto.subjectId != null">
                subject_id = #{dto.subjectId}
            </if>
            <if test="dto.subjectName != null">
                and subject_name = #{dto.subjectName}
            </if>
            <if test="dto.subjectImg != null">
                and subject_img = #{dto.subjectImg}
            </if>
            <if test="dto.subjectUrll != null">
                and subject_urll = #{dto.subjectUrll}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from ums_member_collect_subject
        <where>
            <if test="dto.subjectId != null">
                subject_id = #{dto.subjectId}
            </if>
            <if test="dto.subjectName != null">
                and subject_name = #{dto.subjectName}
            </if>
            <if test="dto.subjectImg != null">
                and subject_img = #{dto.subjectImg}
            </if>
            <if test="dto.subjectUrll != null">
                and subject_urll = #{dto.subjectUrll}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from ums_member_collect_subject
        <where>
            <if test="dto.subjectId != null">
                subject_id = #{dto.subjectId}
            </if>
            <if test="dto.subjectName != null">
                and subject_name = #{dto.subjectName}
            </if>
            <if test="dto.subjectImg != null">
                and subject_img = #{dto.subjectImg}
            </if>
            <if test="dto.subjectUrll != null">
                and subject_urll = #{dto.subjectUrll}
            </if>
        </where>
    </select>

</mapper>
