package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import ${dtoPackage}.${entity}Dto;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import javax.servlet.http.HttpServletResponse;
#if(${AccountToken})
import sungo.cms.entity.AccountToken;
#end
#if(${SysAccountToken})
import sungo.manager.entity.SysAccountToken;
#end
import java.util.List;


/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
     * 新增${table.comment}
     * @param ${entityLowerName}Dto
     * @return
     */
    ${entity} add(${entity}Dto ${entityLowerName}Dto);

    /**
     * 更新${table.comment}
     * @param ${entityLowerName}Dto
     * @return
     */
    ${entity} update(${entity}Dto ${entityLowerName}Dto);

    /**
     * 删除${table.comment}
     * @param ${entityLowerName}Dto
     * @return
     */
    ${entity} delete(${entity}Dto ${entityLowerName}Dto);

    /**
     * 分页查询${table.comment}
     * @param ${entityLowerName}Dto
     * @param ${entityLowerName}Page
     * @return
     */
    IPage<${entity}> queryPage(${entity}Dto ${entityLowerName}Dto, Page<${entity}> ${entityLowerName}Page);

##    /**
##     * 导出${table.comment}
##     * @param ${entityLowerName}Dto
##     * @return
##     */
##    boolean export(${entity}Dto ${entityLowerName}Dto, HttpServletResponse response);

    /**
     * 校验${table.comment}名称
     * @param ${entityLowerName}Dto
     * @return
     */
    boolean checkName(${entity}Dto ${entityLowerName}Dto, boolean isAdd);

    /**
     *
     * 查询所有${table.comment}
     * @return
     */
    List<${entity}> queryAll(${entity}Dto ${entityLowerName}Dto);
}
#end
