<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypdaic.mymall.order.mapper.PaymentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ypdaic.mymall.order.entity.PaymentInfo">
    <result column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="order_id" property="orderId" />
        <result column="alipay_trade_no" property="alipayTradeNo" />
        <result column="total_amount" property="totalAmount" />
        <result column="subject" property="subject" />
        <result column="payment_status" property="paymentStatus" />
        <result column="create_time" property="createTime" />
        <result column="confirm_time" property="confirmTime" />
        <result column="callback_content" property="callbackContent" />
        <result column="callback_time" property="callbackTime" />
    </resultMap>

    <select id="queryPage" resultMap="BaseResultMap">
        select
            *
        from
            oms_payment_info
        <where>
            <if test="dto.orderSn != null">
                order_sn = #{dto.orderSn}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.alipayTradeNo != null">
                and alipay_trade_no = #{dto.alipayTradeNo}
            </if>
            <if test="dto.totalAmount != null">
                and total_amount = #{dto.totalAmount}
            </if>
            <if test="dto.subject != null">
                and subject = #{dto.subject}
            </if>
            <if test="dto.paymentStatus != null">
                and payment_status = #{dto.paymentStatus}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.confirmTime != null">
                and confirm_time = #{dto.confirmTime}
            </if>
            <if test="dto.callbackContent != null">
                and callback_content = #{dto.callbackContent}
            </if>
            <if test="dto.callbackTime != null">
                and callback_time = #{dto.callbackTime}
            </if>
        </where>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from oms_payment_info
        <where>
            <if test="dto.orderSn != null">
                order_sn = #{dto.orderSn}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.alipayTradeNo != null">
                and alipay_trade_no = #{dto.alipayTradeNo}
            </if>
            <if test="dto.totalAmount != null">
                and total_amount = #{dto.totalAmount}
            </if>
            <if test="dto.subject != null">
                and subject = #{dto.subject}
            </if>
            <if test="dto.paymentStatus != null">
                and payment_status = #{dto.paymentStatus}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.confirmTime != null">
                and confirm_time = #{dto.confirmTime}
            </if>
            <if test="dto.callbackContent != null">
                and callback_content = #{dto.callbackContent}
            </if>
            <if test="dto.callbackTime != null">
                and callback_time = #{dto.callbackTime}
            </if>
        </where>
    </select>

    <select id="queryPageForExport" resultType="java.util.HashMap">
        select * from oms_payment_info
        <where>
            <if test="dto.orderSn != null">
                order_sn = #{dto.orderSn}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.alipayTradeNo != null">
                and alipay_trade_no = #{dto.alipayTradeNo}
            </if>
            <if test="dto.totalAmount != null">
                and total_amount = #{dto.totalAmount}
            </if>
            <if test="dto.subject != null">
                and subject = #{dto.subject}
            </if>
            <if test="dto.paymentStatus != null">
                and payment_status = #{dto.paymentStatus}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.confirmTime != null">
                and confirm_time = #{dto.confirmTime}
            </if>
            <if test="dto.callbackContent != null">
                and callback_content = #{dto.callbackContent}
            </if>
            <if test="dto.callbackTime != null">
                and callback_time = #{dto.callbackTime}
            </if>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from oms_payment_info
        <where>
            <if test="dto.orderSn != null">
                order_sn = #{dto.orderSn}
            </if>
            <if test="dto.orderId != null">
                and order_id = #{dto.orderId}
            </if>
            <if test="dto.alipayTradeNo != null">
                and alipay_trade_no = #{dto.alipayTradeNo}
            </if>
            <if test="dto.totalAmount != null">
                and total_amount = #{dto.totalAmount}
            </if>
            <if test="dto.subject != null">
                and subject = #{dto.subject}
            </if>
            <if test="dto.paymentStatus != null">
                and payment_status = #{dto.paymentStatus}
            </if>
            <if test="dto.createTime != null">
                and create_time = #{dto.createTime}
            </if>
            <if test="dto.confirmTime != null">
                and confirm_time = #{dto.confirmTime}
            </if>
            <if test="dto.callbackContent != null">
                and callback_content = #{dto.callbackContent}
            </if>
            <if test="dto.callbackTime != null">
                and callback_time = #{dto.callbackTime}
            </if>
        </where>
    </select>

</mapper>
